### This code has been converted to a pipeline at src/config/features.py

In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from src.config import PROCESSED_DATA_DIR, INTERIM_DATA_DIR

input_train_path: Path = INTERIM_DATA_DIR / "trainset.csv"
processed_train_path: Path = PROCESSED_DATA_DIR / "trainset.csv"

df = pd.read_csv(str(input_train_path), index_col='id')
df.head()

2024-10-12 21:19:36.265 | INFO     | dbos.config:<module>:14 - PROJ_ROOT path is: G:\Work\DS\dont-bet-on-sports

,season,event_date,tm_nano,tm_market,tm_name,tm_alias,opp_nano,opp_market,opp_name,opp_alias,...,opp_rush_tds,opp_rush_yds,opp_third_down_att,opp_third_down_conv,opp_third_down_conv_pct,opp_time_of_possession,opp_times_sacked,opp_total_yds,opp_turnovers,opp_yds_sacked_for
id,,,,,,,,,,,,,,,,,,,,,
200009030min,2000,2000-09-03,AzOs5UWsXusSW,Minnesota,Vikings,MIN,1vVmWGzUZ1rea,Chicago,Bears,CHI,...,1,153,15,9,0.600,1954,2,425,1,18
200009030kan,2000,2000-09-03,oiGiwWPf0UqMC,Kansas City,Chiefs,KC,LJmHetie5VbbO,Indianapolis,Colts,IND,...,1,119,13,6,0.462,1993,1,386,2,6
200009030was,2000,2000-09-03,9JtBk8kFeaGEs,Washington,Football Team,WAS,jJBGuksuDJF5L,Carolina,Panthers,CAR,...,0,112,11,2,0.182,1606,6,236,1,59
200009030atl,2000,2000-09-03,mLspw4gJNTQGN,Atlanta,Falcons,ATL,IwSI92ZDKoazn,San Francisco,49ers,SF,...,1,92,9,2,0.222,1701,1,339,1,6
200009030cle,2000,2000-09-03,IR4gIYmh269EI,Cleveland,Browns,CLE,RtOjnciWkJPaL,Jacksonville,Jaguars,JAC,...,2,119,16,10,0.625,2223,4,398,0,22

In [2]:
df.describe()

,season,tm_spread,opp_spread,total,attendance,duration,temperature,humidity_pct,wind_speed,game_time,...,opp_rush_tds,opp_rush_yds,opp_third_down_att,opp_third_down_conv,opp_third_down_conv_pct,opp_time_of_possession,opp_times_sacked,opp_total_yds,opp_turnovers,opp_yds_sacked_for
count,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5155.000000,3879.000000,3372.000000,3879.000000,0.0,...,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000
mean,2009.221683,-2.412141,2.412141,43.181051,67650.892552,187.994180,58.367105,56.278173,8.431297,NaN,...,0.731963,109.439876,13.359387,5.044996,0.371456,1796.461598,2.360163,327.479441,1.668735,15.291311
std,5.583779,5.891456,5.891456,4.943998,8903.535351,13.869072,17.066424,23.207300,5.290417,NaN,...,0.870641,50.835408,2.497062,2.261797,0.140709,277.672305,1.743058,86.731438,1.367079,12.606116
min,2000.000000,-26.500000,-18.500000,30.000000,23127.000000,123.000000,1.000000,0.000000,0.000000,NaN,...,0.000000,1.000000,5.000000,0.000000,0.000000,893.000000,0.000000,26.000000,0.000000,0.000000
25%,2004.000000,-6.500000,-2.500000,39.875000,63406.750000,179.000000,46.000000,44.000000,5.000000,NaN,...,0.000000,72.000000,12.000000,3.000000,0.273000,1604.000000,1.000000,267.000000,1.000000,6.000000
50%,2009.000000,-3.000000,3.000000,43.000000,68370.000000,186.000000,60.000000,58.000000,8.000000,NaN,...,1.000000,102.000000,13.000000,5.000000,0.375000,1792.000000,2.000000,327.000000,1.000000,13.000000
75%,2014.000000,2.500000,6.500000,46.500000,72512.250000,195.000000,71.000000,72.000000,11.000000,NaN,...,1.000000,139.000000,15.000000,6.000000,0.467000,1982.000000,3.000000,387.000000,2.000000,23.000000
max,2019.000000,18.500000,26.500000,63.500000,105121.000000,428.000000,109.000000,100.000000,70.000000,NaN,...,6.000000,351.000000,24.000000,15.000000,0.917000,2828.000000,12.000000,643.000000,8.000000,91.000000

In [3]:
'''df.hist(bins=50,  figsize=(30,25))
plt.show()'''

'df.hist(bins=50,  figsize=(30,25))\nplt.show()'

## Missing Values

There is clearly some data missing for certain fields. Lets get a count of missing values and identify the columns that will need work

In [4]:
df.isnull().sum()

season                    0
event_date                0
tm_nano                   0
tm_market                 0
tm_name                   0
                         ..
opp_time_of_possession    0
opp_times_sacked          0
opp_total_yds             0
opp_turnovers             0
opp_yds_sacked_for        0
Length: 90, dtype: int64

### Handling Missing Data and Removing Irrelevant Fields

| Column | Action |
| ------ | ------ |
|won_toss_decision, won_toss_overtime, won_toss_overtime_decision, game_time, tm_pass_cmp_pct| Dropping these as they don't offer useful insights and nearly all values are missing|
|temperature, wind_speed, humidity|These are missing for domed/indoor stadiums only. These stadiums have HVAC systems to maintain a comfortable temperature for the fans and players alike. Further research shows that on average these stadiums are temperature controlled to anywhere between 65 to 75 degrees (in freedom units, unfortunately). We will fill the missing temperature values with random values within an extended range of 60-75. Referring to temp histogram plotted previously, we can see that these values will lie on the warmer end of the distribution, which makes sense for the comfort of players and fans. As for winds, it can be reasonably assumed that closed stadiums will have very less to no winds, so we will fill values within a range of 0-2, which is already a case for a lot of games, as can be seen by the previously plotted wind histogram. Humidity levels inside dome stadiums are usually kept between 30% and 50%, which is considered ideal for indoor environments. so we will fill values within a range of 30-50|
|attendace, duration| Dropping these as well|

In [5]:
#Removing certain columns based on logic mentioned in EDA notebook
df = df.drop(columns=['won_toss_decision', 'won_toss_overtime', 'won_toss_overtime_decision', 'game_time', 'tm_pass_cmp_pct' , 'opp_pass_cmp_pct'])

In [6]:
#filling domed/indoor stadiums weather conditions within a range
df['temperature'] = df['temperature'].map(lambda t : t if not np.isnan(t) else float(np.random.randint(60., 76.)))
df['wind_speed'] = df['wind_speed'].map(lambda t : t if not np.isnan(t) else float(np.random.randint(0., 3.)))
df['humidity_pct'] = df['humidity_pct'].map(lambda t : t if t > 0.0 else float(np.random.randint(30., 51.)))

### Saving Metadata for Games
Certain attributes like gameday, season won't be used as predictor variables but can be useful in the future. We will drop these and store them spearately

In [7]:
df_meta = df.loc[:,['event_date', 'season', 'tm_nano', 'tm_name', 'tm_market', 'tm_spread', 'opp_nano', 'opp_name', 'opp_market', 'opp_spread', 'status', 'opp_alt_market', 'tm_alt_market', 'total', 'tm_alt_alias', 'opp_alt_alias', 'attendance', 'duration']]
df = df.drop(columns=['event_date', 'tm_nano', 'tm_name', 'tm_market', 'tm_spread', 'opp_nano', 'opp_name', 'opp_market', 'opp_spread', 'status', 'opp_alt_market', 'tm_alt_market', 'total', 'tm_alt_alias', 'opp_alt_alias', 'attendance', 'duration'])

In [8]:
metadata_path: Path = INTERIM_DATA_DIR / "metadata.csv"
df_meta.to_csv(str(metadata_path))

# Feature Engineering

Target Variable: We want to predict the actual home team spread which will be denoted as follows $$r\_spread=tm\_score - opp\_score$$ r_spread can then be compared to Vegas' spread to pinpoint misvalued games.

In [9]:
def calc_r_spread(r: pd.Series):
    r['r_spread'] = r.loc['tm_score'] - r.loc['opp_score']
    return r

df = df.apply(calc_r_spread, axis=1)

In [10]:
df = df.drop(columns=['tm_score', 'opp_score'])

### Weighted Averages and Deltas

The game attributes such as pass completions, touchdowns are present for that specific game. Obviously we won't know the actual values for these attributes until the game has finished. What we need then is to look at the past performance of the teams for those specific attributes. It can also be safely assumed that a teams touchdown stats in season 2000 are not going to matter much as compared to the current season. Hence we will use weighted averages for these attributes. A teams performance against different/same group of oppositions by itself should matter less than when it is directly compared to its current opposing teams performance against different/same group of oppositions. Essentially we would be considering difference of individual stat averages as predictor variables instead of raw stats themselves. At this point I won't implement todo - deltas.

**Consideration for Weighted Averages**
1. Since different teams can play different number of games leading upto a matchup, we will convert each stat to per game.
2. Weights *w* would be assigned per season where *n* is the current season such that: $$ w_n > w_{n-1} >> w_{n-2}...$$
3. The weather conditions will have to be estimated per stadium based on time of year and so on. We will start off with a simple average of all matches hosted at that specific stadium for now.

In [11]:
df.columns

Index(['season', 'tm_alias', 'opp_alias', 'roof_type', 'surface_type',
       'won_toss', 'temperature', 'humidity_pct', 'wind_speed', 'opp_location',
       'tm_location', 'week', 'week_day', 'tm_first_downs',
       'tm_fourth_down_att', 'tm_fourth_down_conv', 'tm_fourth_down_conv_pct',
       'tm_fumbles', 'tm_fumbles_lost', 'tm_net_pass_yds', 'tm_pass_att',
       'tm_pass_cmp', 'tm_pass_int', 'tm_pass_tds', 'tm_pass_yds',
       'tm_passer_rating', 'tm_penalties', 'tm_penalty_yds', 'tm_rush_att',
       'tm_rush_tds', 'tm_rush_yds', 'tm_third_down_att', 'tm_third_down_conv',
       'tm_third_down_conv_pct', 'tm_time_of_possession', 'tm_times_sacked',
       'tm_total_yds', 'tm_turnovers', 'tm_yds_sacked_for', 'opp_first_downs',
       'opp_fourth_down_att', 'opp_fourth_down_conv',
       'opp_fourth_down_conv_pct', 'opp_fumbles', 'opp_fumbles_lost',
       'opp_net_pass_yds', 'opp_pass_att', 'opp_pass_cmp', 'opp_pass_int',
       'opp_pass_tds', 'opp_pass_yds', 'opp_passer_rating', 'opp_penalties',
       'opp_penalty_yds', 'opp_rush_att', 'opp_rush_tds', 'opp_rush_yds',
       'opp_third_down_att', 'opp_third_down_conv', 'opp_third_down_conv_pct',
       'opp_time_of_possession', 'opp_times_sacked', 'opp_total_yds',
       'opp_turnovers', 'opp_yds_sacked_for', 'r_spread'],
      dtype='object')

In [12]:
#seasonal team_stats df and curr team_stats df
import datetime

#df_processed has running average
#df_processed = pd.DataFrame(columns=df.columns)
#df_stats has net stats
df_stats = pd.DataFrame(columns=['alias', 'games','first_downs', 'fourth_down_att', 'fourth_down_conv',
       'fourth_down_conv_pct', 'fumbles', 'fumbles_lost',
       'net_pass_yds', 'pass_att', 'pass_cmp',
       'pass_int', 'pass_tds', 'pass_yds', 'passer_rating', 'penalties',
       'penalty_yds', 'rush_att', 'rush_tds', 'rush_yds', 'third_down_att',
       'third_down_conv', 'third_down_conv_pct', 'time_of_possession',
       'times_sacked', 'total_yds', 'turnovers', 'yds_sacked_for'])
df_stats.set_index('alias', inplace=True)

In [13]:
#ugly
def calc_avg(team, total_games):
    avg = []
    for col in df_stats.columns.array[1:]:
        avg.append(df_stats.at[team, col] / total_games)
    return avg

def get_team_features(team):
    if team not in df_stats.index or df_stats.at[team, 'games'] == 0:
       return pd.Series([0]*(len(df_stats.columns.array)-1), index=df_stats.columns.array[1:])
       
    total_games = df_stats.at[team, 'games']
    return pd.Series(calc_avg(team, total_games), index=df_stats.columns.array[1:])

def remove_prefix(prefix):
    return lambda x: x[len(prefix):]

def update_team_stats(r: pd.Series):
    team = r['alias']
    if team not in df_stats.index:
        df_stats.loc[team] = [0]*len(df_stats.columns.array)

    df_stats.loc[team, 'games'] += 1
    for col in df_stats.columns.array[1:]:
        df_stats.loc[team, col] += r[col]


def calc_stats(r: pd.Series):
    tm_row = get_team_features(r.loc['tm_alias'])
    opp_row = get_team_features(r.loc['opp_alias'])
    update_team_stats(r.loc[df.filter(regex='^tm_').columns].rename(remove_prefix('tm_')))
    update_team_stats(r.loc[df.filter(regex='^opp_').columns].rename(remove_prefix('opp_')))
    tm_row = tm_row.add_prefix('tm_')
    opp_row = opp_row.add_prefix('opp_')
    for col in df.columns.array[13: -1]:
        r[col] = tm_row.at[col] if col.startswith('tm_') else opp_row.at[col]
    
    return r

df_processed = df.apply(calc_stats, axis=1)

In [14]:
df_processed.head()

,season,tm_alias,opp_alias,roof_type,surface_type,won_toss,temperature,humidity_pct,wind_speed,opp_location,...,opp_rush_yds,opp_third_down_att,opp_third_down_conv,opp_third_down_conv_pct,opp_time_of_possession,opp_times_sacked,opp_total_yds,opp_turnovers,opp_yds_sacked_for,r_spread
id,,,,,,,,,,,,,,,,,,,,,
200009030min,2000,MIN,CHI,Dome,Astroturf,MIN,75.0,35.0,2.0,A,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
200009030kan,2000,KC,IND,Outdoors,Grass,KC,90.0,50.0,5.0,A,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13
200009030was,2000,WAS,CAR,Outdoors,Grass,WAS,80.0,98.0,0.0,A,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
200009030atl,2000,ATL,SF,Dome,Astroturf,SF,62.0,50.0,1.0,A,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
200009030cle,2000,CLE,JAC,Outdoors,Grass,JAC,78.0,63.0,6.0,A,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20

In [15]:
processed_base_path = PROCESSED_DATA_DIR / "processed_base.csv"
df_processed.to_csv(str(processed_base_path))

In [16]:
df_processed_dummies = pd.get_dummies(df_processed.drop(columns=['season']))

In [17]:
processed_path = PROCESSED_DATA_DIR / "trainset.csv"
df_processed_dummies.to_csv(str(processed_path))

In [18]:
stats = PROCESSED_DATA_DIR / "stats.csv"
df_stats.to_csv(str(stats))